@charset "UTF-8";
.titre
{
	text-align: center;
}
form{
    display:flex;  
    justify-content:center;
}


div{
    margin:7px 30px;
    text-align: left;
    
}

div.button{
    text-align: center;
    border-radius: 10px;
}

