@charset "UTF-8";
.logo{
	width: 25%;
}

.blockConnection{
	background-color: rgba(255, 250, 240, 0.9);
	border-style:solid;
	margin-top: 50px;
	padding: 30px;
    margin: 30px 0;
    border-radius: 10px;
    border-style: solid;
    border-color: indigo;
    
}
.pageConnection{
	display: flex;
    justify-content: center;
    flex-direction: column;
}

/* .pave{
	display:flex;
	justify-content: space-between;
	width: 30%;
	margin-right:35%;
	margin-left:35%;

	}
	.element{
	display:flex;
	align-items:center;
	height : 25px;
	width: 100%;
	margin:5px;
	}
	.intitule{
	display:flex;
	flex-direction:column;
	align-items: flex-start;
	justify-content:space-between;
	width: 40%;
	}

	.champ{
	display:flex;
	flex-direction:column;
	align-items: flex-start;
	justify-content:space-between;
	width: 60%;
	}
	#identifiants{
	padding-top: 20px;
	}
	#choix{
	display:flex;
	flex-direction:column;
	align-items: flex-end;
	justify-content: space-between;
	padding:10px;
	margin: 20px 5px 20px 5px;
	}
	#case{
	margin: 10px;
	}
	
	#btn_connexion{
	display: flex;
	justify-content:center;
	align-items: center;
	padding:20px 50px 20px 50px;
	margin: 20px;
    border-radius: 10px;
	}
	#connexion{
	margin-bottom: 20px;
	}
	#creer_compte{
	padding: 40px 60px 40px 60px;
	width: 100%
	}
	#lien_creer_compte{
	margin-top:50px;
	justify-content: center;
	text-decoration: none;
	}
	#btn_connexion,#creer_compte{
	border-radius: 10px;

 
	} */
