@charset "UTF-8";
/*
	Nom du Thème :
	Auteur :
	Description :
	Date dernière modification : 
	Auteur de la dernière modification :
*/

.titre
{
	text-align: center;
}
form{
    display:flex;  
    justify-content:center;
}


div{
    margin:7px 30px;
    text-align: left;
   
}
label{
width:120px;	
	
}
input{
	width:200px;
}

div.btn_submit{
    text-align: center;
    border-radius: 10px;
    padding:20px 50px 20px 50px;
    justify-content: space-between;
}


.lienMdp{
	border-style:solid;
	 text-align:center;
}

