@charset "UTF-8";
/*
	Nom du Thème : Appli ENI Enchères
	Auteur : Catherine, Elodie, Taharqa
	Description : Feuille de style pour l'application
	Date dernière modification : 18/02/2021
	Auteur de la dernière modification : Kat
*/
.titre
{
	text-align: center;
}

.logo{
width: 25%;
}

/* -------ACCUEIL------- */

/* GENERAL */

h1{
    font-family: 'Crete Round', serif;
    text-align:center;
    margin-top: 50px; 
}

h2{
margin: 30px 0px;	
}


h3{
margin-top: 30px;	
}

body {
    background-image: -moz-radial-gradient(white, gainsboro);
    background-image: radial-gradient(white, gainsboro);
    font-family: Arial, sans-serif;
}

hr{
    clear:both;
    height: 1px;
    background-color:slategrey;
    border: none;}


footer{
	margin-bottom: 50px;
}    
/* MAIN */    

ul {
    list-style: none;
}


img.picture-left {
  width : 100%;
}


.photo{
	display:flex;
	align-self:center;
	justify-content:center;
}


main nav ul {
    clear: both;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

main nav ul :hover {
    background: linear-gradient(#B4A483, black);
    border-radius: 10px;
}

main nav ul li {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 20px;
    float: left;
    text-align: center;
    line-height: 50px;
    width: 200px;
    background: linear-gradient(indigo, darkred, burlywood);
    border-radius: 10px;
}

main nav ul li a {
    color: ghostwhite;
    text-decoration: none;
}

main nav ul li a:hover {
    color: black;
    text-decoration: none;
    background: ghostwhite;
}

#connexion{
width: 300px;	
}
.articles{
	background-color: rgba(255, 250, 240, 0.9);
	border-style:solid;
	margin-top: 50px;
	padding: 30px;
    margin: 30px 0;
    border-radius: 10px;
    border-style: solid;
    border-color: indigo;
	
}

#libelleArticle{
	font-weight: bold;
}

#photo{
	width:10 px;
}
#nbPoints{
	color: #ff7a00;
    font-weight: bold;
	
}

/* -------ENCHERES------- */

#encadre{
	border-style:solid;
	background-color: rgba(255, 250, 240, 0.9);
	border-style:solid;
	margin-top: 50px;
	padding: 30px;
    margin: 30px 0;
    border-radius: 10px;
    border-style: solid;
    border-color: indigo;	
}

#libelleArticle{
	text-align:center;
}

.button{
	justify-content:center;
	text-align:center
}

#proposition{
width: 60px;
}

/*-------VENTE-------*/


